.navigation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    list-style: none;
    margin: 0; 
    padding: 0; 
}
  
.navigation-item {
    display: grid;
    justify-items: start;
}
  
.navigation-buttons {
    justify-self: end; 
    display: flex; 
    gap: 3px; 
    /* padding-right: 15px; */
}





/* Navigation OG =================== */
ul {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* padding: 0 20px;  */
    background-color: #897f74;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    list-style: none;
}

li {
    list-style: none;
    /* align-items: center; */
}

.logo-image {
    width: 60px;
    height: 60px; 
    border-radius: 60%; 
    object-fit: cover; 
}

.logo-image2 {
    width: 15rem;
    height: 53px; 
    border-radius: 15px; 
    /* object-fit: cover;  */
    padding-left: 2px;
    
}

.create-spot-button {
    padding: 10px 15px;
    background-color: #cbbd8b; 
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 30px;
    font-size: 15px; 
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* .create-spot-button {
    margin-right: 10px; 
}  */
  
.create-spot-button:hover {
    background-color: #f9f5f3;
}

body {
    margin: 0;
    padding: 0; 
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

}



/* =========================== */
/* OpenModalMenuItem */
li {
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* li:hover {
    background-color: #f0f0f0;
} */


/* ========================== */
/* ProfileButton.css */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 8px;
}

button:hover {
    background-color: #965f35;
}

.hidden {
    display: none;
}

ul.profile-dropdown:not(.hidden) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57px;
    right: 5px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    min-width: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 0;
}

ul.profile-dropdown li {
    margin-bottom: 5px;
    z-index: 1001;
}

li {
    margin-bottom: 4px;
}

.profile-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px 15px; 
    background-color: #444;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    /* padding-right: 15px; */
}

/* ============================ */